@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.icon{
    scale: 0.3;
    padding-top: 0;
    padding-left: 50%;
}

.pagum{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.pagum div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20rem;
    margin-left: 30%;
    font-size: 1.5rem;
    font-family: 'Montserrat';
}

header{
    content: '';
    height: 100vh;
    overflow: hidden;
    position: relative;
}

header::before{
    content: '';
    width: 100%;
    height: 100%;
    background-image: url("../images/gameawardsheader.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: muda_fundo 10s;
}
@keyframes muda_fundo {
    0%{
        background-image: url("../images/gameawardsheader.png");
        background-size: cover;
        position: absolute;
    }
    20%{
        background-image: url("../images/hasdes.jpg");
        background-size: cover;
        position: absolute;
    }
    40%{
        background-image: url("../images/ffxvi.jpg");
        background-size: cover;
        position: absolute;
    }
    60%{
        background-image: url("../images/diabloiv.jpg");
        background-size: cover;
        position: absolute;
    }
    80%{
        background-image: url("../images/bayoneta_origins.jpg");
        background-size: cover;
        position: absolute;
    }
   100%{
    background-image: url("../images/gameawardsheader.png");
    background-size: cover;
    position: absolute;

   }
}



h1{
    float: left;
    padding-left: 13%;
    padding-top: 10rem;
    font-size: 6.4rem;
    color: #C4C81B;
}

p{
    font-size: 1.5rem;
        
}

.voltar{
    font-size: 3rem;
    font-family: 'Montserrat';
    background:linear-gradient(90deg,#FB7BA2,#FCE043);
    border-radius: 7px;
    color: #003A88;
    margin-top: 20rem;
    margin-left: 10rem;
    text-decoration: none;

}

.ilustracao{
    width: 60rem;
}

.pagdois{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
}

.pagdois div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 15%;
    padding-right: 15%;
    gap: 5rem;
}

/*  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }*/
  